/* ............/navbar/............ *
/* ///////////..utility classes../////////// */

.box {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: small;
}

.btn-primary {
  color: #fff;
  background: #16a083;
}

.btn-primary:hover {
  background: #117964;
  transition: background 0.3s ease-in-out;
}
/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.custom-navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #ff3d57;
  color: #000;
  opacity: 0.85;
  height: 50px;
  z-index: 999;
}

.navbar-box {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items ul {
  float: right;
  font-size: 1.2rem;
  margin: 0px -30px;
  padding: 0px 0px;
  height: 30px;
}

.menu-items li {
  list-style: none;
  margin: 0px 0px;
  font-size: 1.2rem;
  padding: 12px 0px;
  float: left;
  display: inline;
  position: relative;
}

.menu-items li li {
  font-size: 16px;
  text-align: left;
  font-weight: normal;
  border-bottom: solid 1px #626262;

  /* width: 140px;
  height: 44px; */
}

.menu-items li li {
  display: block;
  float: none;
}

.menu-items li li:last-child {
  border-bottom: none;
}

.menu-items li li a {
  border-top: none;
  color: #fff;
  width: 170px;
  border-left: none;
  text-align: left;
  padding: 2px 15px 2px 15px;
}

.menu-items li li:last-child a {
  border-right: none;
}

.menu-items li li li a {
  padding: 2px 15px 2px 15px;
  background: #505050;
}

.menu-items li li a:hover {
  color: #030e12;
  background: #fff;
}

.menu-items li ul {
  width: 200px;
  height: auto;
  background: #ff3d57;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 10;
  display: none;
}

.menu-items li:hover > ul {
  display: block;
}

.menu-items li ul ul {
  left: 100%;
  top: 0px;
}

.menu-items li:hover > ul {
  color: #469159;
}

.menu-items a {
  text-decoration: none;
  color: #fff;
  margin-right: 1.5rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #030e12;
  background: #ff3d57;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}

.logo > img {
  width: 55%;
}

/* ......../ media query /.......... */

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-box input[type="checkbox"],
  .navbar-box .hamburger-lines {
    display: block;
  }

  .navbar-box {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-box input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 995;
    opacity: 0;
  }

  .navbar-box .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 992;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-box .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-box .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-box .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-box .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #ff3d57;
    opacity: 0.85;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .navbar .menu-items li li a {
    margin-left: 62px;
    font-size: 16px;
  }
  /* .navbar .menu-items li ul {
    width: 0px;
  } */

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }

  .navbar-box input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-box input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-box input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-box input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
}
